/* 
Author: Start Bootstrap - http://startbootstrap.com
'SB Admin' HTML Template by Start Bootstrap

All Start Bootstrap themes are licensed under Apache 2.0. 
For more info and more free Bootstrap 3 HTML themes, visit http://startbootstrap.com!
*/

/* ATTN: This is mobile first CSS - to update 786px and up screen width use the media query near the bottom of the document! */

/* Global Styles */

body {
  margin-top: 50px;
}

#wrapper {
  padding-left: 0;
}

#page-wrapper {
  width: 100%;
  padding: 5px 15px;
}

/* Nav Messages */

.messages-dropdown .dropdown-menu .message-preview .avatar,
.messages-dropdown .dropdown-menu .message-preview .name,
.messages-dropdown .dropdown-menu .message-preview .message,
.messages-dropdown .dropdown-menu .message-preview .time {
  display: block;
}

.messages-dropdown .dropdown-menu .message-preview .avatar {
  float: left;
  margin-right: 15px;
}

.messages-dropdown .dropdown-menu .message-preview .name {
  font-weight: bold;
}

.messages-dropdown .dropdown-menu .message-preview .message {
  font-size: 12px;
}

.messages-dropdown .dropdown-menu .message-preview .time {
  font-size: 12px;
}


/* Nav Announcements */

.announcement-heading {
  font-size: 50px;
  margin: 0;
}

.announcement-text {
  margin: 0;
}

/* Table Headers */

table.tablesorter thead {
  cursor: pointer;
}

table.tablesorter thead tr th:hover {
  background-color: #f5f5f5;
}

/* Flot Chart Containers */

.flot-chart {
  display: block;
  height: 400px;
}

.flot-chart-content {
  width: 100%;
  height: 100%;
}
/*webfoo*/
.pager{margin:0}
.pager input,.pager select{width:auto;display:inline-block}
.pager i{
padding:10px 20px;cursor:pointer;  border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}
.pager i:hover{background:#428BCA;color:#fff}
.candidate_description .nav > li > a{
	padding:5px
}
	/* typeahead */
	.districts_suggest,.cities_suggest{display:none}


	html {
	  overflow-y: scroll;
	  *overflow-x: hidden;
	}


	.tt-dropdown-menu,
	.gist {
	  text-align: left;
	}




	.example {
	  padding: 0;
	}


	.demo {
	  position: relative;
	  *z-index: 1;

	}
	.twitter-typeahead{
		width:100%
	}
	.typeahead,
	.tt-query,
	.tt-hint,
	select	{
	  width:100%;
	  padding: 8px 12px;
	  font-size: 24px;
	  line-height: 30px;
	  border: 2px solid #ccc;
	  -webkit-border-radius: 8px;
		 -moz-border-radius: 8px;
			  border-radius: 8px;
	  outline: none;
	}

	.typeahead {
	  background-color: #fff;
	}

	.typeahead:focus {
	  border: 2px solid #0097cf;
	}

	.tt-query {
	  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		 -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
			  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	}

	.tt-hint {
	  color: #999
	}

	.tt-dropdown-menu {
	  width: 100%;
	  margin-top: 12px;
	  padding: 8px 0;
	  background-color: #fff;
	  border: 1px solid #ccc;
	  border: 1px solid rgba(0, 0, 0, 0.2);
	  -webkit-border-radius: 8px;
		 -moz-border-radius: 8px;
			  border-radius: 8px;
	  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
		 -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
			  box-shadow: 0 5px 10px rgba(0,0,0,.2);
	}

	.tt-suggestion {
	  padding: 3px 20px;
	  font-size: 18px;
	  line-height: 24px;
	}

	.tt-suggestion.tt-is-under-cursor {
	  color: #fff;
	  background-color: #0097cf;

	}

	.tt-suggestion p {
	  margin: 0;
	}

	.gist {
	  font-size: 14px;
	}
	/*typeahead*/
	.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
		background-color: #101010;
	} 
/*webfoo*/
/* Edit Below to Customize Widths > 768px */
@media (min-width:768px) {

  /* Wrappers */

  #wrapper {
	padding-left: 225px;
  }

  #page-wrapper {
	padding: 15px 25px;
  } 

  /* Side Nav */

  .side-nav {
	margin-left: -225px;
	left: 225px;
	width: 225px;
	position: fixed;
	top: 50px;
	height: 100%;
	border-radius: 0;
	border: none;
	background-color: #222222;
	overflow-y: auto;
  }

  /* Bootstrap Default Overrides - Customized Dropdowns for the Side Nav */

  .side-nav>li.dropdown>ul.dropdown-menu {
	position: relative;
	min-width: 225px;
	margin: 0;
	padding: 0;
	border: none;
	border-radius: 0;
	background-color: transparent;
	box-shadow: none;
	-webkit-box-shadow: none;
  }

  .side-nav>li.dropdown>ul.dropdown-menu>li>a {
	color: #999999;
	padding: 15px 15px 15px 25px;
  }

  .side-nav>li.dropdown>ul.dropdown-menu>li>a:hover,
  .side-nav>li.dropdown>ul.dropdown-menu>li>a.active,
  .side-nav>li.dropdown>ul.dropdown-menu>li>a:focus {
	color: #fff;
	background-color: #080808;
  }

  .side-nav>li>a {
	width: 225px;
  }

  .navbar-inverse .navbar-nav>li>a:hover,
  .navbar-inverse .navbar-nav>li>a:focus {
	background-color: #080808;
  }

  /* Nav Messages */

  .messages-dropdown .dropdown-menu {
	min-width: 300px;
  }

  .messages-dropdown .dropdown-menu li a {
	white-space: normal;
  }

}
